.button_like_pass {
    border: none;
    background: none;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
        transform: scale(1.2);
        color: red;
    }
}

.button_login {
    margin-top: 1.5rem;
    border-radius: 50px;
    padding: 0.3rem 0.9rem;
    font-size: 1.5rem;
    transition: all 0.3s;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);  
        color: red;
    }
}

.button_next_forgot {
    width: 100%;
    border-radius: 50px;
    padding: 0.3rem 0.9rem;
    font-size: 1.2rem;
    transition: all 0.2s;
    cursor: pointer;
    &:hover {
        background-color: #dedede;
    }
}

.button_google {
    display: flex;
    align-items: center;
    height: 100%;
    border-radius: 50px;
    font-size: 1.5rem;
    transition: all 0.2s;
    padding: 0.3rem 0.9rem;
    margin-top: 30px;
    cursor: pointer;
    &:hover {
        background-color: #dedede;
    }

    img {
        width: 1.5rem;
        margin-right: 0.5rem;
    }
}